@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Lusitana', serif;
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s; /* Add smooth transition effect for color change */
}

nav ul li a:hover {
    color: #555; /* Change color when hovering */
    text-decoration: underline; /* Underline on hover */
}

/* Style the sections */
section {
    padding: 40px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 20px; /* Increase padding to move the footer down */
    background-color: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Style the h1 element */
h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 5px; /* Adjust margins to align the header and h1 element */
}

/* Hide section titles by default */
.section-title {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

/* Display section titles on image hover */
section:hover .section-title {
    display: block;
}

/* Add hover effect to images */
section img {
    max-width: 20%;
    height: auto;
    transition: opacity 0.3s;
    margin: 0 10px; /* Add margin to separate the images */
}

/* Center the images in a row */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:hover img {
    opacity: 0.7;
}
