@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Montserrat:wght@200&display=swap');

/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

/* Style the header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px; /*adjust for height*/
    padding: 1vw 2vw; /* Use viewport-relative units for padding */
    background-color: #ffffff;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 2vw; /* Use viewport-relative units for margin */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s; /* Add smooth transition effect for color change */
}

nav ul li a:hover {
    color: #555; /* Change color when hovering */
    text-decoration: underline; /* Underline on hover */
}

/* Center the logo text */
#logo {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-right: 390px;
    color: black;
}

/* Style the sections */
section {
    padding: 40px;
}

#contact{
    text-align: center;
    font-size: 1.2rem;
}

#contact img{
    margin: auto;
    margin-top: 5%;
    width: 30%;
    height: auto;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 1%; /* Increase padding to move the footer down */
    background-color: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%
}

/* Style the h1 element */
h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 5px; /* Adjust margins to align the header and h1 element */
}

/* Display section titles on image hover */
section:hover img {
    opacity: 0.7;
}


.slider{
    width: 800px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px; /* Adjust the margin-top as needed */
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: auto;
}

/* Style the section titles above the images */
.slider .section-title {
    display: none;
    position: absolute;
    top: 100px; 
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
} 
.slider:hover .section-title{
    display: grid;
}


/* css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
}

.manual-btn{
    border: 3px solid #ffffff;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left:  0;
}

#radio2:checked ~ .first{
    margin-left:  -20%;
}

#radio3:checked ~ .first{
    margin-left:  -40%;
}

/*css automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 3px solid #ffffff;
    padding: 6px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}


#section-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 510px;
    padding: 1vh 0; /* Use viewport-relative units for padding */
    background-color: #ffffff;
}

.section-link {
    margin: 0 20px;
    text-align: center;
}

/* Style the section links */
.section-link a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    position: relative; /* Add relative positioning for the pseudo-element */
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Add underline effect on hover */
.section-link a:hover {
    color: #555;
    text-decoration: underline; /* Underline on hover */
}



/* style from subpages*/

/* Add hover effect to images */
section img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s;
    margin: 0 10px;
    display: inline-block;
}

/* Display section titles on image hover */
section:hover img {
    opacity: 0.7;
}

/* Style the performance gallery section */
#performance {
    text-align: center;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.photo-gallery a {
    text-decoration: none;
    color: #333;
    display: inline-block; /* Add this line to prevent the link from covering the entire grid item */
    position: relative; /* Add this line to establish a positioning context for pseudo-element */
}

.photo-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.photo-gallery img:hover {
    transform: scale(1.05);
}

/* Add hover effect to images */
.photo-gallery a:hover img {
    opacity: 0.7;
}


/* Add a media query for screens with a max-width of 500px */
@media (max-width: 700px) {

    /* Adjust body font size and padding */
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 1vw; /* Adjust padding for smaller screens */
    }

    /* Modify header padding and margins */
    header {
        padding: 2vw 2vw; /* Adjust padding for smaller screens */
        margin: 0;
        color: black;
        margin-top: 40px;
    }

    #logo {
        color: black;
        margin-right: 180px;
    }
    /* Modify navigation menu margins and font size */
    nav ul {
        margin-left: 0; /* Remove left margin for smaller screens */
    }

    nav ul li {
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    /* Adjust section padding */
    section {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    /* Modify footer padding and margin-top */
    footer {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-top: 10px; /* Adjust margin-top for smaller screens */
    }

    /* Modify h1 font size */
    h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    /* Modify slider styles */
    .slider{
        width: 75px;
        height: 50px;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        top: 270px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px; /* Adjust the margin-top as needed */
    }


.slides{
    width: 500%;
    display: flex;
    
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100px;
    height: auto;
}

    /* Modify section title styles */
    .slider .section-title {
        top: 20px; /* Adjust top position for smaller screens */
    }

    /* Modify manual navigation styles */
    .navigation-manual {
        position: absolute;
        width: 100%; /* Adjust width for smaller screens */
        margin-top: 60px; /* Adjust the margin-top as needed */
        display: flex;
        justify-content: center;
    }

    /* Modify automatic navigation styles */
    .navigation-auto {
        width: 100%; /* Adjust width for smaller screens */
        margin-top: 335px; /* Adjust margin-top for smaller screens */
    }

    /* Modify section links padding */
    #section-links {
        padding: 2vh 0; /* Adjust padding for smaller screens */
        margin-top: 300px;
    }

    /* Modify section link margin */
    .section-link {
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}

/* Add a media query for screens with a max-width of 1300px */
@media (max-width: 1300px) {

    /* Adjust body font size and padding */
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 2vw; /* Adjust padding for smaller screens */
    }

    /* Modify header padding and margins */
    header {
        padding: 2vw 2vw; /* Adjust padding for smaller screens */
        margin: 0;
        color: black;
        margin-top: 50px;
    }

    #logo {
        color: black;
        margin-right: 180px;
    }
    /* Modify navigation menu margins and font size */
    nav ul {
        margin-left: 0; /* Remove left margin for smaller screens */
    }

    nav ul li {
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    /* Adjust section padding */
    section {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    /* Modify footer padding and margin-top */
    footer {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-top: 10px; /* Adjust margin-top for smaller screens */
    }

    /* Modify h1 font size */
    h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    /* Modify slider styles */
    .slider{
        width: 480px;
        height: 320px;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        top: 275px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px; /* Adjust the margin-top as needed */
    }


    .slides{
        width: 500%;
        display: flex;

    }

    .slides input{
        display: none;
    }

    .slide{
        width: 20%;
        transition: 2s;
    }

    .slide img{
        width: 600px;
        height: auto;
    }

    /* Modify section title styles */
    .slider .section-title {
        top: 20px; /* Adjust top position for smaller screens */
    }

    /* Modify manual navigation styles */
    .navigation-manual {
        position: absolute;
        width: 100%; /* Adjust width for smaller screens */
        margin-top: 60px; /* Adjust the margin-top as needed */
        display: flex;
        justify-content: center;
    }

    /* Modify automatic navigation styles */
    .navigation-auto {
        width: 100%; /* Adjust width for smaller screens */
        margin-top: 335px; /* Adjust margin-top for smaller screens */
    }

    /* Modify section links padding */
    #section-links {
        padding: 2vh 0; /* Adjust padding for smaller screens */
        margin-top: 300px;
    }

    /* Modify section link margin */
    .section-link {
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}