@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');

/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Lusitana', serif;
}

/* Style the header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #ffffff;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s; /* Add smooth transition effect for color change */
}

nav ul li a:hover {
    color: #555; /* Change color when hovering */
    text-decoration: underline; /* Underline on hover */
}

/* Center the logo text */
#logo {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin-right: 350px;
}

/* Style the sections */
section {
    padding: 40px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 20px; /* Increase padding to move the footer down */
    background-color: #ffffff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    width: 100%
}

/* Style the h1 element */
h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 5px; /* Adjust margins to align the header and h1 element */
}

/* Add hover effect to images */
section img {
    max-width: 20%;
    height: auto;
    transition: opacity 0.3s;
    margin: 0 10px; /* Add margin to separate the images */
    display: inline-block;
}

/* Display section titles on image hover */
section:hover img {
    opacity: 0.7;
}


.slider{
    width: 800px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    
}



.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* Style the section titles above the images */
.slider .section-title {
    display: none;
    position: absolute;
    top: 100px; /* Adjust the distance from the image */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

.slider:hover .section-title{
    display: grid;
}


/* css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid #ffffff;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background: #ffffff;
}

#radio1:checked ~ .first{
    margin-left:  0;
}

#radio2:checked ~ .first{
    margin-left:  -20%;
}

#radio3:checked ~ .first{
    margin-left:  -40%;
}

/*css automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 3px solid #ffffff;
    padding: 6px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}

/* Style the sections above the slider */
#section-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 600px 0;
    background-color: #ffffff;
}

.section-link {
    margin: 0 20px;
    text-align: center;
}

/* Style the section links */
.section-link a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    position: relative; /* Add relative positioning for the pseudo-element */
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Add underline effect on hover */
.section-link a:hover {
    color: #555;
    text-decoration: underline; /* Underline on hover */
}
